@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap");
:root {
  --clr-violet: hsl(257, 40%, 49%);
  --clr-soft-magenta: hsl(300, 69%, 71%);

  --poppins: "Poppins", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--open-sans);
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--clr-violet);
  color: white;

  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;

  @media (min-width: 960px) {
    background-image: url(../images/bg-desktop.svg);
    text-align: left;
    background-size: cover;
  }

  @media (min-width: 1440px) {
    background-size: contain;
  }
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  width: 83%;
  font-family: var(--poppins);
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: var(--clr-violet);
  border-radius: 10rem;
  padding: 1rem 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;

  @media (min-width: 650px) {
    width: 66%;
    font-size: 2.4rem;
    padding: 2rem 0;
  }

  @media (min-width: 960px) {
    width: 37%;
    font-size: 1.8rem;
    padding: 1.4rem 0;
  }

  &:hover,
  &:focus {
    background-color: var(--clr-soft-magenta);
    color: white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
  }
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: 960px) {
    width: 90%;
    height: 100vh;
  }
}

.images {
  padding: 6.3rem 0 4.6rem;

  @media (min-width: 650px) {
    padding: 6.3rem 0 11.6rem;
  }

  @media (min-width: 960px) {
    width: 55%;
    padding: 5.3rem 0 0 0;
  }
}

.logo-box {
  width: 52%;
  margin-bottom: 3.4rem;

  @media (min-width: 650px) {
    width: 42%;
    margin-bottom: 11.4rem;
  }

  @media (min-width: 960px) {
    width: 30%;
    margin-bottom: 7.9rem;
  }
}

.hero {
  @media (min-width: 960px) {
    width: 41%;
    padding-top: 7rem;
  }
}

.hero__text {
  margin-bottom: 5.5rem;

  @media (min-width: 650px) {
    margin-bottom: 13rem;
  }

  @media (min-width: 960px) {
    margin-bottom: 0;
  }

  & h1 {
    font-family: var(--poppins);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;

    @media (min-width: 650px) {
      font-size: 4.5rem;
      letter-spacing: 1px;
      margin-bottom: 2.5rem;
    }

    @media (min-width: 960px) {
      font-size: 3.7rem;
      margin-bottom: 2rem;
    }
  }

  & p {
    line-height: 1.5;
    margin-bottom: 3rem;

    @media (min-width: 650px) {
      font-size: 3.2rem;
      line-height: 1.5;
      margin-bottom: 5rem;
    }

    @media (min-width: 960px) {
      font-size: 1.8rem;
      line-height: 1.5;
      letter-spacing: 0.2px;
      margin-bottom: 2.5rem;
    }
  }
}

.networks {
  display: flex;
  justify-content: center;

  @media (min-width: 960px) {
    order: 1;
    flex: 0 1 100%;
    justify-content: flex-end;
    padding: 1.5rem 1rem 0 0;
  }

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 100%;
    width: 35px;
    height: 35px;

    @media (min-width: 650px) {
      width: 55px;
      height: 55px;
    }

    @media (min-width: 960px) {
      width: 40px;
      height: 40px;
    }

    &:not(:last-of-type) {
      margin-right: 2rem;

      @media (min-width: 960px) {
        margin-right: 1.5rem;
      }
    }

    &:hover {
      border-color: var(--clr-soft-magenta);
    }

    &:hover > .networks__icon {
      fill: var(--clr-soft-magenta);
      transform: scale(1.15);
    }
  }

  &__icon {
    fill: white;
    width: 15px;
    height: 15px;

    @media (min-width: 650px) {
      width: 25px;
      height: 25px;
    }

    @media (min-width: 960px) {
      width: 15px;
      height: 15px;
    }
  }
}

@media (min-width: 960px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--clr-soft-magenta);
}
